/* INDEX */
a:hover {
    color:red
}
.index {
    color: red;
}

/* ABOUT US */
h1 {
    font-family: 'Times New Roman', Times, serif;
    color:red
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    color:red
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    color:red
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
footer {
    font-size:large
}

/* CONTACT */
.ulContact{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
legend {
    color: red;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

label {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.sosialMedia {
    color: red;
}

.inputContact {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.inputContact1 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.inputContact2 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.inputContact3 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.inputContact4 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* RESUME */
.h1Resume {
    color: red;
}

.h2Resume {
    color:blue
}
#ulH2 {
    color:blue
}
.ul1 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.ul2 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

/* GAME */
.headerGame {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#freeFire {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
} 

summary{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.ulGame {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ulGame2 {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* HOBI */
header {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#sepakBola {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.ulHobi {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ulHobi2 {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}